root = true

[*.sh]
indent_style = space
indent_size = 2
switch_case_indent = true
binary_next_line = true
space_redirects = true

[[shell]]
indent_style = space
indent_size = 2
switch_case_indent = true
binary_next_line = true
space_redirects = true
